body {
    background-color: #EFEFEF;
}

.player-hand {
}

.player-name {
    text-align: center;
    font-size: large;
}

.card-slot {
    border: 1px solid #DDDDDD;
    padding: 4px 4px 4px 4px;
    height: 108px;
}

.card-position {
}

.player-card {
    height: 100%;
    text-height: 100%;
    text-align: center;
    border-radius: 4px;
}

.card-value-unknown {
    background-color: #073b4c;
}

.card-value-1 {
    background-color: #ffd166;
}

.card-value-2 {
    background-color: #06d6a0;
}

.card-value-3 {
    background-color: #118ab2;
}

.card-value-4 {
    background-color: #ef476f;
}
