body {
    background-color: #efefef;
}

.phase {
    width: 100%;
}

.hidden {
    display: none;
}

.create {
    width: 100%;
    text-align: center;
}

.num-players {
    font-weight: bold;
    font-size: large;
}

.lobby {
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    padding: 40px;
    margin-top: 40px;
    text-align: center;
    min-width: 448px;
}

.play-button {
    margin-bottom: 16px;
}

.seats {
    margin-bottom: 16px;
}

.phase > div {
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    padding: 4px;

}

.phase-title {
    font-size: large;
    font-weight: bold;
}

.phase > p {
    margin-top: 16px;
    font-size: large;
    font-weight: bold;
}

.phase select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    width: 50%;
    clear: both;
}

.phase select:first-child {
    display: None;
}

#game-creation {
    background-color: white;
}

#game-creation > p {
    font-size: large; 
}

#instances {
    background-color: white;
}

#instances > table > tbody {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

#instances > table > tbody > tr {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    display: table-row;
}
#instances > table > tbody > tr > td {
    padding-left: 2px;
    padding-right: 2px;
}

#instances > table > tbody > tr > td:first-child {
    display: none;
}

#instances > table > tbody > tr > td:nth-child(2) {
    min-width: 80px;
    max-width: 120px;
    text-align: left;
    font-weight: bold;
}

#instances > table > tbody > tr > td:nth-child(3) {
    min-width: 200px;
}

#instances > table > tbody > tr > td:last-child {
    width: 100%;
    margin-right: 0px;
    padding-right: 0px;
    text-align: right;
}

#instances > table > tbody > tr > td:last-child > div {
    margin: 0px;
    padding: 0px;
}

#instances > table > tbody > tr > td > div > button {
    margin-left: 2px;
    margin-right: 0px; 
    min-width: 60px;
}

#instances > table > tbody > tr > td > button {
    margin-left: 2px;
    margin-right: 0px; 
    min-width: 60px;
}

.board {
    width: 100%;
}


.game-name {
    text-align: center;
}

.instructions {
    text-align: center;
    padding: 2px;
    padding-bottom: 8px;
}

.player-message {
    padding-bottom: 8px; 
}

.controls {
    margin-top: 2px;
}

.play-again {
    margin-top: 8px;
    margin-bottom: 16px;
}

.uncover-button {
    margin-bottom: 16px;
    margin-right: 16px;
    margin-left: 16px;
    float: right; 
}

.player-area {
    /* Hack... */
    margin-left: -30px;
    padding-left: 4px;
    padding-right: 4px;
}

.player-block {
    margin: 2px;
    padding: 1px;
}

.player-can-see-self {
    background-image: url('eye-down.png');
    background-position: right;
    background-repeat: no-repeat;
}

.player-can-see-up {
    background-image: url('eye-up.png');
    background-position: right;
    background-repeat: no-repeat;
}

.player-can-see-down {
    background-image: url('eye-down.png');
    background-position: right;
    background-repeat: no-repeat;
}

.highlighted {
    background-color: #fdffb6;
}

.player-hand {
    border-top: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 4px 0px;
}

.card-body {
    padding-top: 16px;
    padding-bottom: 0px;
}

.player-name {
    text-align: center;
}

.card-slot {
    border: 2px solid #AAAAAA !important;
    border-radius: 4px;
    padding: 8px;
    margin: 4px;
    height: 116px;
    width: 116px;
}

.card-slot:hover {
    background-color: #fdffb6;
}

.player-card {
    height: 100%;
    text-height: 100%;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #444444;
}

.card-value-unknown {
    background-color: #073b4c;
}

.card-value-1 {
    background-color: #ffd166;
}

.card-value-2 {
    background-color: #06d6a0;
}

.card-value-3 {
    background-color: #118ab2;
}

.card-value-4 {
    background-color: #ef476f;
}

.copyright {
    text-align: center;
    padding: 2px;
    padding-top: 8px;
}
